fastapi
uvicorn[standard]
sse-starlette
aiosqlite
pydantic[email]
python-dotenv
langchain
langchain-groq
langchain-community
langgraph
tavily-python
faiss-cpu
beautifulsoup4
requests
httpx
python-multipart
websockets
